/*
   在//后面的注释在CSS文件中是不显示的
*/
/*
    变量, 可以存储一个值
    如果多个元素使用同一种样式, 这样代码维护起来更加高效
*/
h2 {
  color: blue;
}
h3 {
  color: blue;
}
div {
  color: blue;
}
.one {
  /*
      变量作用域
      如果该作用域下有该变量, 就直接使用该作用域下的变量, 如果没有, 使用更大作用域下的变量
  */
  width: 50px;
  height: 30px;
  background-color: blue;
}
.two {
  width: 20px;
  background-color: darkred;
}
/*
  Mixins(混入)
*/
.three {
  border-width: 5px;
}
.four {
  border-width: 20px;
}
.five {
  -webkit-box-shadow: 1px 1px 8px 0 blue;
  -moz-box-shadow: 1px 1px 8px 0 blue;
  box-shadow: 1px 1px 8px 0 blue;
}
#waigeSpace .user {
  width: 300px;
  height: 300px;
  border: 1px solid red;
}
.six {
  width: 300px;
  height: 300px;
  border: 1px solid red;
}
.home {
  width: 600px;
  height: 600px;
  margin: 100px auto 0;
  border: 2px solid black;
}
.home .top {
  height: 200px;
  background: yellow;
}
.home .bottom {
  height: 400px;
  background: blue;
}
.home .bottom ul {
  list-style: none;
}
.home .bottom ul li {
  height: 15px;
  background-color: orange;
  margin: 10px 0;
}
a {
  text-decoration: none;
  color: red;
  font-size: 20px;
}
a:hover {
  font-size: 50px;
}
.seven {
  color: #666666;
}
.eight {
  height: 30px;
  background: #333333;
}
.nine {
  height: 30px;
  background: #b3b3b3;
  margin-top: 10px;
}
